.head {
	background:#fff;
	border-left:8px solid #2BA6CB;
	margin:$spacing-vertical 0;

	.head__list {
		height:150px;
		line-height:150px;
		list-style:none;
		margin:0;
		text-align:right;
		
		.head__list-item {
			display:inline;
			margin-right:$spacing-horizontal;
		}
	}
}